* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

input {
	width: 200px;
}

.App {
	display: flex;
}

.container {
	margin: 0 auto;
}

.heading {
	margin-top: 48px;
	text-align: center;
}

.accounts {
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 40px;
}

.accounts-a {
	margin-right: 30px;
}

.accounts-b {
	margin-left: 30px;
}

.account {
	position: relative;
}

.account-text {
	vertical-align: bottom;
}

.withdraw--info {
	margin-top: 30px;
}

.deposit--info {
	margin-top: 30px;
}

.btn--container {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn {
	padding: 6px;
}
